
/*
label{
  background-color:rgb(184, 236, 220);
}

body {
  color: #060606;
  font-size: 16px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #060606;
}
body, header, footer, main, section, div, p, li, dt, dd, a {
  margin: 10px;
  padding: 10px;
}
header, footer, main, section{
  border: 2px solid #f00;
}
div, p {
  border: 1px solid #00f;
}
li, dt, dd, a {
  border: 1px dotted #0F0;
}
*/
.header {

}

.header__wrap {
  width: 85%;
  margin: auto;
  display: flex;/*テキスト、div要素を横並びに配置する*/
  justify-content: space-between;/*テキスト、div要素を等間隔で配置する*/
  align-items: center;/*テキスト等を上下中央にする*/
}

.header__logo {
  width: 100px;
  height: 100px;
  
}
.header__logo a {
  display: block;
  box-shadow: 6px 6px 10px  #00f;
}


.header__menu {
}
.header__menu ul {
  display: flex;
}
.header__menu ul li {
  width: 80px;
  list-style: none;
}

.header__menu ul li a {
  display: block;
  width: 100%;
  text-align: center;
}
.header__menu .active a,
.header__menu a:hover {
  background-color: #d03c56;
  color: #fff;
  transition: 0.15s;
}

.main {

}

.main section {
  width: 85%;
  margin: 0 auto 60px;
}

.main .main__kv {
  width: auto;
  height: 70vh;
  display: flex;/*上下中央にするため*/
  align-items: center;/*上下中央にするため*/
  background: url(../../public/storage/top_kv.jpg) center/cover no-repeat;
  font: normal 24px/1.8 sans-serif;
  padding-left: 10px;

}

.main__about {
  padding: 0 10px 80px;
}
.main__about--ttl {
  margin-bottom: 60px;
  text-align: center;
  color: #060606;
  font-size: 28px;
  letter-spacing: 4px;
  margin-bottom: 60px;
}
.main__about--logo {
  width: 40%;
  margin: 0 auto;
}
.main__about--txt {
  margin: 45px 0 60px;
  text-align: center;
  padding:0 20px;
  font:normal 16px/2 sans-serif;
  letter-spacing: 4px;
}
.main__service {
  padding-bottom: 100px;
  background-color: antiquewhite;
}
.main__service--message {
  margin-bottom: 95px;
  display: flex;
}
.main__service--message h2 {
  flex: 1;
  flex-direction: column;
  font-size: 50px;
  font-weight: bold;
}
.main__service--message p {
  flex: 2;
  font-size: 16px;
  line-height: 2.2;
  letter-spacing: 2px;
}
.main__service--list {
  display: flex;
}
.main__service--list li {
  flex: 1;
  margin-right: 2%;
  list-style: none;
}
.main__service--list li a {
  display: block;/*aタグで囲った中全体にリンクを貼れる*/
  /*background-color: rgb(186, 186, 186);*/
}
.main__service--list img {
  width: 100%;
  display: block;
}
.main__service--list li h3 {
  margin: 50px 0 30px 0;
}
.main__service--list li p {

}

.main__news {
  padding: 0 20px 0;
}
.main__news--ttl {
  margin-bottom: 16px;
  font-size: 48px;

}
.main__news--list {
  padding: 40px 12px;
}

.main__news--list > li{
  position: relative;
  border-bottom: 1px solid #222;
}

/*
.main__news--list > li:first-child{
  border-top: 1px solid #222;
}
*/
.main__news--list li:hover::before{  /* :hoverを追加しただけ */
  display: block;
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  right: 10px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #7a0;
  border-right: 2px solid #7a0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


.main__news--list li {
  border-bottom: 1px solid #e8ecee;
  list-style: none;
}
.main__news--list li:nth-child(odd){
  background-color: rgb(246, 243, 243);
}
.main__news--list li a {
  display: block;
  padding:  38px 20px;
}
.main__news--item {
  display: flex;
}
.main__news--list li a:hover {
  background: #bae7fd;
}
.main__news--day {
  width: 265px;
  display: flex;
  align-items: center;
  margin-right: 32px;
}
.main__news--data{

}

.footer {
  padding: 90px 0 70px;
  border-top: 1px solid #e8ecee;
}

.footer__logo {
  width: 100px;
  margin: 0 auto;/*中央に配置する*/
}

.footer__copyright {
  margin-top: 30px;
  text-align: center;
  color: #b5b5b5;
  font-size: 11px;
}

.test {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.test2 {
  width: 50px;
}

.test3 {
  width: 50px;
}