p{
  background-color: aqua;
  /*text-align: center;*/
  border: 1px solid #000;
}

h1{
  background-color:bisque;
}
.container{
  display: flex;
  /*border: 1px solid #000;*/
  justify-content: center;
  align-items: center;
}
.box{
  flex: 1;
  /*border: 1px solid #000;*/
}
.box2{
 flex: 3;
}

label{
  background-color:rgb(184, 236, 220);
}

body {
  color: #060606;
  font-size: 16px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #060606;
}
body, header, footer, main, section, div, p, li, dt, dd, a {
  margin: 10px;
  padding: 10px;
}
header, footer, main, section{
  border: 2px solid #f00;
}
div, p {
  border: 1px solid #00f;
}
li, dt, dd, a {
  border: 1px dotted #0F0;
}

.header {

}

.header__wrap {
  width: 85%;
  margin: auto;
  display: flex;/*テキスト、div要素を横並びに配置する*/
  justify-content: space-between;/*テキスト、div要素を等間隔で配置する*/
  align-items: center;/*テキスト等を上下中央にする*/
}

.header__logo {
  width: 54px;
  height: 76px;
}

.header__menu {
  display: flex;
}

.header__menu li {
  width: 100px;
}

.main {

}

.main section {
  width: 85%;
  margin: 0 auto 60px;
}

.main .main__kv {
  width: auto;
  height: 70vh;
}

.main__about {
  padding: 0 10px 80px;
}
.main__about--ttl {
  margin-bottom: 60px;
  text-align: center;
}
.main__about--logo {
  width: 40%;
  margin: 0 auto;
}
.main__about--txt {
  margin: 45px 0 60px;
  text-align: center;
}
.main__service {
  padding-bottom: 100px;
}
.main__service--message {
  margin-bottom: 95px;
  display: flex;
}
.main__service--message h2 {
  flex: 1;
  flex-direction: column;
}
.main__service--message p {
  flex: 2;
}
.main__service--list {
  display: flex;
}
.main__service--list li {
  flex: 1;
  
}
.main__service--list li a {
  display: block;/*aタグで囲った中全体にリンクを貼れる*/
  /*background-color: rgb(186, 186, 186);*/
}
.main__service--list img {
  width: 100%;
}
.main__service--list li h3 {
  margin: 50px 0 30px 0;
}
.main__service--list li p {

}

.main__news {
  padding: 0 20px 0;
}
.main__news--ttl {
  margin-bottom: 16px;
}
.main__news--list {
  padding: 40px 12px;
}
.main__news--list li {

}
.main__news--list li a {
  display: block;
  padding:  38px 20px;
}
.main__news--item {
  display: flex;
}
.main__news--day {
  width: 265px;
  display: flex;
  align-items: center;
  margin-right: 32px;
}
.main__news--data{
  
}

.footer {
  padding: 90px 0 70px;
}

.footer__logo {
  width: 100px;
  margin: 0 auto;/*中央に配置する*/
}

.footer__copyright {
  margin-top: 30px;
  text-align: center;
}

.test {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.test2 {
  width: 50px;
}

.test3 {
  width: 50px;
}