/*indexページでの画像の表示範囲*/
.img-index {
    max-width: 100%;
    max-height: 500px;
   } 
  
  /*showページでの画像の表示範囲*/
  .img-show {
    max-width: 100%;
    max-height: 800px;
   } 
   
  /*create、editページでの画像の表示範囲*/
   .img-create {
    max-width: 100%;    
    max-height: 500px;
   } 

   .test {
    font-size:100px;
   } 
